// Navbar

#quarto-header {
  background: $navbar-bg !important;
  background-image: none !important;
  border: 0 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

#quarto-header.headroom--unpinned {
  transform: translateY(0%) !important;
}

.navbar {
  font-size: $font-size-sm;
  background-color: $navbar-bg !important;
  background-image: none !important;
  border: 0 !important;
  box-shadow: none !important;
  outline: 0 !important;
  background-clip: border-box;
}

#quarto-header > nav.navbar {
  background-color: $navbar-bg !important;
  background-image: none !important;
  border: 0 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

#quarto-header .navbar-container,
#quarto-header .navbar-collapse,
#quarto-header .navbar-brand-container,
#quarto-header .navbar-nav {
  background: transparent !important;
  background-image: none !important;
  border: 0 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

#quarto-header::before,
#quarto-header::after,
#quarto-header > nav.navbar::before,
#quarto-header > nav.navbar::after {
  content: none;
  display: none;
}

// Put right-side navbar icons in one row in the hamburger menu.
.navbar-nav.navbar-nav-scroll.ms-auto {
  flex-direction: row;
}

// Title blocks

#title-block-header.quarto-title-block .quarto-title-banner {
  background: $title-block-banner-bg;
  color: $title-block-banner-color;
}

#title-block-header.quarto-title-block .quarto-title-banner a {
  color: inherit;
}

// Typography

p {
  font-family: $font-family-serif;
}

blockquote {
  font-style: italic;
}

footer {
  font-size: $font-size-sm;
}

.nav-footer {
  background: $footer-bg;
}

.lead {
  font-family: $font-family-sans-serif;
  color: $theme-lead-color;
}

// Tables

table,
.table {
  font-size: $font-size-sm;
}

// Navs

.nav,
.breadcrumb,
.pagination {
  font-size: $font-size-sm;
}

.dropdown-menu {
  font-size: $font-size-sm;
}

// Indicators

.alert {
  font-size: $font-size-sm;
  color: $white;

  &,
  p {
    font-family: $font-family-sans-serif;
  }

  a,
  .alert-link {
    font-weight: 400;
    color: $white;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient($value, mix($body-bg, $value, 15%)) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }

  &-light {
    &,
    a,
    .alert-link {
      color: $theme-alert-light-color;
    }
  }
}

.badge {
  &.bg-light {
    color: $dark;
  }
}

.btn-success,
.btn-warning {
  --bs-btn-color: #{$black};
  --bs-btn-hover-color: #{$black};
  --bs-btn-active-color: #{$black};
  --bs-btn-disabled-color: #{$black};
}

// Containers

.list-group {
  font-size: $font-size-sm;
}
