$min-contrast-ratio:   1.85 !default;

// Fonts

$font-size-base:              1.1rem !default;
$headings-font-weight:        700 !default;

// Responsive

$navbar-collapse-max-width:   991.98px !default;
$mobile-max-width:            $navbar-collapse-max-width !default;
$tablet-min-width:            992px !default;

$cv-pdf-embed-height:         80vh !default;
$cv-pdf-embed-min-height:     42rem !default;
$cv-pdf-embed-height-mobile:  70vh !default;
$cv-pdf-embed-min-height-mobile: 32rem !default;

@mixin mobile-down {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin navbar-collapse-down {
  @media (max-width: $navbar-collapse-max-width) {
    @content;
  }
}

// Tables

$table-bg-scale:              0% !default;

// Buttons

$input-btn-padding-y:         .5rem !default;
$input-btn-padding-x:         1.1rem !default;
$btn-font-family:             $font-family-sans-serif !default;
$btn-font-size:               .875rem !default;
$btn-font-size-sm:            .688rem !default;

$btn-border-radius:           1.078em !default;
$btn-border-radius-lg:        2.688em !default;
$btn-border-radius-sm:        .844em !default;

// Tooltips

$tooltip-font-size:           11px !default;

// Badges

$badge-font-weight:           400 !default;
$badge-padding-y:             .6em !default;
$badge-padding-x:             1.2em !default;

// Alerts

$alert-border-width:          0 !default;
